<div class="container-fluid image-container">
    <div class="image-centre">
        <img src="{{product.src}}" style="width:inherit">
        <p style="text-align: center; color: black"> <b>{{product.label}} </b></p>
    </div>
</div>
<br>
